body{
    position: relative;
    animation: fondo 60s infinite;
}
@keyframes fondo{
    0%, 100%{
        background-color: rgb(211, 211, 255);
    }
    10%{
        background-color: rgb(255, 207, 207);
    }
    20%{
        background-color: rgb(255, 255, 207);
    }
    30%{
        background-color: rgb(207, 255, 207);
    }
    40%{
        background-color: rgb(207, 255, 255);
    }
    50%{
        background-color: rgb(207, 207, 255);
    }
    60%{
        background-color: rgb(255, 207, 255);
    }
    70%{
        background-color: rgb(255, 255, 255);
    }
    80%{
        background-color: rgb(255, 255, 255);
    }
    90%{
        background-color: rgb(255, 255, 255);
    }
}
.particles{
    height:100vh;
    width: 100vw;
    opacity: .4;
    position: fixed;
    z-index: -1;
}
#root{
    position: relative;
    z-index: 2;
}
.fondo{
    width: 100vw;
    position: fixed;
    z-index: -1;
}
@media only screen and (max-width:900px){
    .fondo{
        height: 100vh;
        width: auto;
    }
}